<launch> 
  <param name="robot_description"
    command="$(find xacro)/xacro $(find mit_cheetah_description)/urdf/cheetah.urdf.xacro"/>

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/> -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node pkg="quadruped_controller" type="fake_gait" name="fake_gait" output="screen"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_trunk" args="0 0 0.442 0 0 0 1 world trunk" />

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find quadruped_controller)/config/fake_gait.rviz"/>  
</launch>
